<script setup>
import TestComp from '../../components/TestComp.vue';
import SpaceContainer from '../../components/SpaceContainer.vue';
import CountButtons from '../../components/CountButtons.vue';
import { useNumberCiphers } from '../../store/numberStore';

const numberCip = useNumberCiphers();
let spaceLevel = numberCip.getLevels()['space'];

console.log(spaceLevel.words);
let word = spaceLevel.words[0].word;
let arythmetic = spaceLevel.words[0].mathematicalActivities;
let sums = spaceLevel.words[0].sums;

</script>
<template>
    <div class="space">
        <header>
            <p>Prawidłowe hasła 0 / 10</p>
        </header>
        <div class="letter-iteration-and-calculation-container">
            <div class="letter-row">
                <span class="letter" v-for="w in word">_</span>
            </div>
            <div class="calculation-row">
                <div class="calc" v-for="aryth in arythmetic">{{ aryth }}</div>
            </div>
        </div>
    </div>

    <space-container>
        <count-buttons></count-buttons>
    </space-container>
</template>

<style>
.space{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space header{
    padding-left: 10px;
}

header p{
    font-size: 2.3rem;
}

.space .letter-iteration-and-calculation-container{
    width: 80vw;
    height: 45vh;
    margin-top: 7vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space .letter-iteration-and-calculation-container .letter-row, .calculation-row{
    display: flex;
    width: fit-content;
    align-items: center;
}
.space .letter-iteration-and-calculation-container .letter-row .letter{
    width: 50px;

    font-size: 3.3rem;
    border: 2px solid transparent;
    padding: 5px;
    margin-left: 20px;
    text-align: center;
    align-self: center;
    color: var(--nc-color-black);
}

.space .letter-iteration-and-calculation-container .calculation-row .calc{
    margin-top: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7rem;
    width: 50px;

    border: 2px solid transparent;
    padding: 5px;
    margin-left: 20px;
    text-align: center;
    align-self: center;
    color: var(--nc-color-black);
}
</style>