<template>
    <button class="count">
        <span class="letter">T</span>
        <span class="letter-count">30</span>
    </button>
</template>
<script setup>

</script>
<style>
.count{
    display: block;
    width: 60px;
    border: none;
    text-align: center;
    background-color: var(--nc-color-black);
    color: #fff;
    margin-right: 0;
    line-height: normal;
    font-size: 2.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.count .letter::after{
    content: '';
    display: block;
    width: 100%;

    height: 3px;
    background-color: #fff;
    margin-top: 7px;
}
.count .letter{
    display: block;
    font-size: 2.1rem;
    margin-top: 10px;
    height: 50px;
    width: 48px;
}
.count .letter-count{
    height: 36px;
    font-size: 1.5rem;
    width: 30px;
    margin-top: 10px;
}
</style>