<script setup>
</script>

<template>
    <div class="space">
        <slot></slot>
    </div> 
</template>

<style scoped>
.space{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border: 2px solid #222;
    height: 33vh;
}
</style>
